apiVersion: 1

providers:
  - name: 'Default' # A uniquely identifiable name for the provider
    folder: '{{ influxdb_init_org }}'
    disableDeletion: true
    updateIntervalSeconds: 5
    allowUiUpdates: true
    options:
      path: /etc/grafana/provisioning/dashboards
