{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "description": "A demo dashboard for monitoring the Pump",
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": 2,
  "iteration": 1626362287526,
  "links": [],
  "panels": [
    {
      "datasource": "InfluxDB_v2_Flux",
      "description": "Pump Status Panel",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [
            {
              "from": "",
              "id": 1,
              "text": "Running",
              "to": "",
              "type": 1,
              "value": "1"
            },
            {
              "from": "",
              "id": 2,
              "text": "Stopped",
              "to": "",
              "type": 1,
              "value": "0"
            }
          ],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 1
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 5,
        "x": 0,
        "y": 0
      },
      "id": 4,
      "options": {
        "colorMode": "background",
        "graphMode": "none",
        "justifyMode": "center",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": ["lastNotNull"],
          "fields": "/^Status \\{machine=\"Pump\\-97924244\", phase=\"Pulping\", plant=\"Plant_A\"\\}$/",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "7.5.10",
      "targets": [
        {
          "groupBy": [
            {
              "params": ["$__interval"],
              "type": "time"
            },
            {
              "params": ["null"],
              "type": "fill"
            }
          ],
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"{{ influxdb_init_bucket }}\")\n  |> range(start: v.timeRangeStart, stop:v.timeRangeStop)\n  |> filter(fn: (r) => r._measurement == \"LinePerformance\")\n  |> filter(fn: (r) => r[\"_field\"] == \"Status\")\n  |> filter(fn: (r) => r[\"machine\"] == \"Pump-97924244\")\n  |> filter(fn: (r) => r[\"phase\"] == \"Pulping\")\n  |> filter(fn: (r) => r[\"plant\"] == \"Plant_A\")\n  |> last()",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": ["value"],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": []
        }
      ],
      "title": "Pump Status",
      "type": "stat"
    },
    {
      "datasource": "InfluxDB_v2_Flux",
      "description": "Motor RPM Panel",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "rotrpm"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 10,
        "x": 5,
        "y": 0
      },
      "id": 2,
      "options": {
        "reduceOptions": {
          "calcs": ["lastNotNull"],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "text": {}
      },
      "pluginVersion": "7.5.10",
      "targets": [
        {
          "groupBy": [
            {
              "params": ["$__interval"],
              "type": "time"
            },
            {
              "params": ["null"],
              "type": "fill"
            }
          ],
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"{{ influxdb_init_bucket }}\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"LinePerformance\")\n  |> filter(fn: (r) => r[\"_field\"] == \"MotorRPM\")\n  |> filter(fn: (r) => r[\"machine\"] == \"Pump-97924244\")\n  |> filter(fn: (r) => r[\"phase\"] == \"Pulping\")\n  |> filter(fn: (r) => r[\"plant\"] == \"Plant_A\")\n  |> aggregateWindow(every: v.windowPeriod, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": ["value"],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": []
        }
      ],
      "title": "Motor",
      "type": "gauge"
    },
    {
      "datasource": "InfluxDB_v2_Flux",
      "description": "Input Pressure Panel",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "pressurekpa"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 5,
        "x": 0,
        "y": 8
      },
      "id": 6,
      "options": {
        "reduceOptions": {
          "calcs": ["lastNotNull"],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "text": {}
      },
      "pluginVersion": "7.5.10",
      "targets": [
        {
          "groupBy": [
            {
              "params": ["$__interval"],
              "type": "time"
            },
            {
              "params": ["null"],
              "type": "fill"
            }
          ],
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"{{ influxdb_init_bucket }}\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"LinePerformance\")\n  |> filter(fn: (r) => r[\"_field\"] == \"InputPressure\")\n  |> filter(fn: (r) => r[\"machine\"] == \"Pump-97924244\")\n  |> filter(fn: (r) => r[\"phase\"] == \"Pulping\")\n  |> filter(fn: (r) => r[\"plant\"] == \"Plant_A\")\n  |> aggregateWindow(every: v.windowPeriod, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": ["value"],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": []
        }
      ],
      "title": "Input Pressure",
      "type": "gauge"
    },
    {
      "datasource": "InfluxDB_v2_Flux",
      "description": "Output Pressure Panel",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "pressurekpa"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 5,
        "x": 5,
        "y": 8
      },
      "id": 8,
      "options": {
        "reduceOptions": {
          "calcs": ["lastNotNull"],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "text": {}
      },
      "pluginVersion": "7.5.10",
      "targets": [
        {
          "groupBy": [
            {
              "params": ["$__interval"],
              "type": "time"
            },
            {
              "params": ["null"],
              "type": "fill"
            }
          ],
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"{{ influxdb_init_bucket }}\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"LinePerformance\")\n  |> filter(fn: (r) => r[\"_field\"] == \"OutputPressure\")\n  |> filter(fn: (r) => r[\"machine\"] == \"Pump-97924244\")\n  |> filter(fn: (r) => r[\"phase\"] == \"Pulping\")\n  |> filter(fn: (r) => r[\"plant\"] == \"Plant_A\")\n  |> aggregateWindow(every: v.windowPeriod, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": ["value"],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": []
        }
      ],
      "title": "Output Pressure",
      "type": "gauge"
    },
    {
      "datasource": "InfluxDB_v2_Flux",
      "description": "Pressure Output VS Pressure Input Panel",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "max": 30,
          "min": 5,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "dark-red",
                "value": null
              },
              {
                "color": "#EAB839",
                "value": 13
              },
              {
                "color": "blue",
                "value": 23
              },
              {
                "color": "green",
                "value": 26
              }
            ]
          },
          "unit": "pressurekpa"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 5,
        "x": 10,
        "y": 8
      },
      "id": 9,
      "options": {
        "reduceOptions": {
          "calcs": ["lastNotNull"],
          "fields": "/^Pressure_In_Out \\{machine=\"Pump\\-97924244\", phase=\"Pulping\", plant=\"Plant_A\"\\}$/",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "text": {}
      },
      "pluginVersion": "7.5.10",
      "targets": [
        {
          "groupBy": [
            {
              "params": ["$__interval"],
              "type": "time"
            },
            {
              "params": ["null"],
              "type": "fill"
            }
          ],
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"{{ influxdb_init_bucket }}\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"LinePerformance\")\n  |> filter(fn: (r) => r[\"_field\"] == \"Pressure_In_Out\")\n  |> filter(fn: (r) => r[\"machine\"] == \"Pump-97924244\")\n  |> filter(fn: (r) => r[\"phase\"] == \"Pulping\")\n  |> filter(fn: (r) => r[\"plant\"] == \"Plant_A\")\n  |> aggregateWindow(every: v.windowPeriod, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": ["value"],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": []
        }
      ],
      "title": "Pressures Differences",
      "type": "gauge"
    },
    {
      "datasource": "InfluxDB_v2_Flux",
      "description": "Temperature Panel",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "fahrenheit"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 15,
        "x": 0,
        "y": 16
      },
      "id": 11,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "groupBy": [
            {
              "params": ["$__interval"],
              "type": "time"
            },
            {
              "params": ["null"],
              "type": "fill"
            }
          ],
          "orderByTime": "ASC",
          "policy": "default",
          "query": "from(bucket: \"{{ influxdb_init_bucket }}\")\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"LinePerformance\")\n  |> filter(fn: (r) => r[\"_field\"] == \"Temperature\")\n  |> filter(fn: (r) => r[\"machine\"] == \"Pump-97924244\")\n  |> filter(fn: (r) => r[\"phase\"] == \"Pulping\")\n  |> filter(fn: (r) => r[\"plant\"] == \"Plant_A\")\n  |> aggregateWindow(every: v.windowPeriod, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": ["value"],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": []
        }
      ],
      "title": "Water Temperature",
      "type": "timeseries"
    }
  ],
  "refresh": "5s",
  "schemaVersion": 27,
  "style": "dark",
  "tags": ["demo"],
  "templating": {
    "list": [
      {
        "current": {
          "selected": false,
          "text": "InfluxDB_v2_Flux",
          "value": "InfluxDB_v2_Flux"
        },
        "description": null,
        "error": null,
        "hide": 1,
        "includeAll": false,
        "label": "",
        "multi": false,
        "name": "InfluxDB_v2_Flux",
        "options": [],
        "query": "influxdb",
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "type": "datasource"
      }
    ]
  },
  "time": {
    "from": "now-5m",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Pump Monitoring",
  "uid": "v-tUWZi7k",
  "version": 3
}
