- name: Pull the node14 alpine3.14 docker image
  community.docker.docker_image:
    name: node:14-alpine3.14
    source: pull

- name: Build the OPCUA-Server app as docker image
  community.docker.docker_image:
    name: indaco/opcua-server
    build:
      path: '{{ homefolder_path }}/opcua-server/app'
      dockerfile: Dockerfile
    source: build
  register: buildOPCUA
  until: buildOPCUA is succeeded
  retries: 4
  delay: 2

- name: Pause for 10 seconds
  ansible.builtin.pause:
    seconds: 10

- name: Pull the Influxdb2 alpine docker image
  community.docker.docker_image:
    name: influxdb:alpine
    source: pull

- name: Pull the Telegraf alpine docker image
  community.docker.docker_image:
    name: telegraf:alpine
    source: pull

- name: Pull the Grafana8 docker image
  community.docker.docker_image:
    name: grafana/grafana:latest
    source: pull

- name: Pull the Portainer docker image
  community.docker.docker_image:
    name: portainer/portainer-ce:latest
    source: pull
