---
# tasks file for indaco.modern-historian-stack

- name: Copy docker-compose template file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: '{{ homefolder_path }}/docker-compose.yml'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0644'

- name: Get infos on docker network
  community.docker.docker_network_info:
    name: '{{ public_network_name }}'
  register: networkResult

- name: Create docker network "public_network_name"
  ansible.builtin.shell:
    cmd: 'docker network create {{ public_network_name }}'
  when: not networkResult.exists

- name: Start InfluxDB setup
  become: yes
  ansible.builtin.shell:
    cmd: docker-compose up -d influxdb2
    chdir: '{{ homefolder_path }}'

- name: Pause 30 seconds to let InfluxDB finishing the setup (PLEASE WAIT, DO NOT ABORT!)
  ansible.builtin.pause:
    seconds: 30

- ansible.builtin.include_tasks: influx-setup.yml

- name: Stop InfluxDB - Initial Setup fineshed
  become: yes
  ansible.builtin.shell:
    cmd: docker-compose down
    chdir: '{{ homefolder_path }}'

- ansible.builtin.include_tasks: telegraf.yml

- ansible.builtin.include_tasks: grafana.yml

- name: Run docker-compose stack
  ansible.builtin.shell:
    cmd: docker-compose up -d
    chdir: '{{ homefolder_path }}'
