---
# tasks file for indaco.modern-historian-stack

- ansible.builtin.include_tasks: create-folders-structure.yml

- name: Copy the OPCUA-Server app to the ansible_user home folder
  ansible.builtin.copy:
    src: './opcua-server'
    dest: '{{ homefolder_path }}'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0644'

- name: Copy docker-compose template file
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: '{{ homefolder_path }}/docker-compose.yml'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0644'

- ansible.builtin.include_tasks: dockers-pull.yml

- name: Start InfluxDB setup
  become: yes
  ansible.builtin.shell:
    cmd: docker-compose up -d influxdb2
    chdir: '{{ homefolder_path }}'

- name: Pause 30 seconds to let InfluxDB finishing the setup (PLEASE WAIT, DO NOT ABORT!)
  ansible.builtin.pause:
    seconds: 30

- ansible.builtin.include_tasks: influx.yml

- name: Stop InfluxDB - Initial Setup fineshed
  become: yes
  ansible.builtin.shell:
    cmd: docker-compose down
    chdir: '{{ homefolder_path }}'

- ansible.builtin.include_tasks: telegraf.yml

- ansible.builtin.include_tasks: grafana.yml

- name: Run docker-compose stack
  ansible.builtin.shell:
    cmd: docker-compose up -d
    chdir: '{{ homefolder_path }}'
