- name: Copy Telegraf config file
  ansible.builtin.template:
    src: telegraf/telegraf.conf.j2
    dest: '{{ telegraf_config_path }}/telegraf.conf'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0644'
