version: '3.9'

services:

  traefik:
    image: "traefik:v2.4"
    container_name: "traefik"
    hostname: traefikhost
    restart: always
    ports:
      - "8081:8081"
      - "6443:6443"
    networks:
      - {{ internal_network_name }}
      - {{ public_network_name }}
    volumes:
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
      - type: bind
        source: /home/{{ ansible_user }}/traefik_conf/static_conf.yml
        target: /traefik.yml
      - type: bind
        source: /home/{{ ansible_user }}/traefik_conf/
        target: /configuration/
      - type: bind
        source: /home/{{ ansible_user }}/certs/
        target: /certs/

  opcua:
    image: indaco/opcua-server
    hostname: opcuahost
    container_name: opcua-server
    restart: always
    ports:
      - 4334:4334
    networks:
      - {{ internal_network_name }}
      - {{ public_network_name }}

  influxdb2:
    image: influxdb:alpine
    container_name: influxdb2
    hostname: influxdb2host
    restart: always
    ports:
      - '8086:8086'
    networks:
      - {{ internal_network_name }}
      - {{ public_network_name }}
    volumes:
      - type: bind
        source: {{ influxdb2_data_path }}
        target: /var/lib/influxdb2
      - type: bind
        source: {{ influxdb2_config_path }}
        target: /etc/influxdb2
      - type: bind
        source: {{ influxdb2_tasks_path }}
        target: /usr/share
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME={{ demo_username }}
      - DOCKER_INFLUXDB_INIT_PASSWORD={{ demo_password }}
      - DOCKER_INFLUXDB_INIT_ORG={{ influxdb_init_org }}
      - DOCKER_INFLUXDB_INIT_BUCKET={{ influxdb_init_bucket }}
      - DOCKER_INFLUXDB_INIT_RETENTION=1w
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN={{ influxdb_init_admin_token }}

  telegraf:
    image: telegraf:alpine
    container_name: telegraf
    hostname: telegrafhost
    restart: always
    volumes:
      -  {{ telegraf_config_path }}/telegraf.conf:/etc/telegraf/telegraf.conf
    networks:
      - {{ internal_network_name }}
    depends_on:
      - influxdb2

  grafana8:
    image: grafana/grafana:latest
    container_name: grafana8
    hostname: grafanahost
    restart: always
    volumes:
      - grafana_data:/var/lib/grafana
      - type: bind
        source: {{ grafana_datasources_path }}
        target: /etc/grafana/provisioning/datasources
      - type: bind
        source: {{ grafana_dashboards_path }}
        target: /etc/grafana/provisioning/dashboards
    environment:
      - "GF_SERVER_ROOT_URL=https://127.0.0.1:6443/grafana"
      - "GF_SERVER_DOMAIN=127.0.0.1"
      - "GF_SECURITY_ADMIN_USER={{ demo_username }}"
      - "GF_SECURITY_ADMIN_PASSWORD={{ demo_password }}"
    ports:
      - '3000:3000'
    networks:
      - {{ internal_network_name }}
      - {{ public_network_name }}
    depends_on:
      - influxdb2
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.grafana.rule=PathPrefix(`/grafana`)"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.middlewares=strip-grafana"
      - "traefik.http.middlewares.strip-grafana.stripprefix.prefixes=/grafana"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    hostname: portainerhost
    command: -H unix:///var/run/docker.sock
    restart: always
    ports:
      - '9000:9000'
    networks:
      - {{ internal_network_name }}
      - {{ public_network_name }}
    volumes:
      - portainer_data:/data
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=PathPrefix(`/portainer`)"
      - "traefik.http.routers.portainer.tls=true"
      - "traefik.http.routers.portainer.entrypoints=websecure"
      - "traefik.http.routers.portainer.middlewares=strip-portainer"
      - "traefik.http.middlewares.strip-portainer.stripprefix.prefixes=/portainer"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"

networks:
  {{ public_network_name }}:
    external: true
  {{ internal_network_name }}:
    external: false
volumes:
  grafana_data:
  portainer_data:
