apiVersion: 1

datasources:
  - name: InfluxDB_v2_Flux
    type: influxdb
    access: proxy
    url: http://influxdb2host:8086
    basicAuth: true
    basicAuthUser: {{ influxdb_init_username }}
    secureJsonData:
      basicAuthPassword: {{ influxdb_init_password }}
      token: {{ retrievedGrafanaToken }}
    jsonData:
      version: Flux
      organization: {{ influxdb_init_org }}
      defaultBucket: {{ influxdb_init_bucket }}
      tlsSkipVerify: true
    version: 1
    editable: true
